body {
    font-size: 20px;
    padding-top: 80px;
}

.navbar {
    background-color: #333333;
}
.navbar-header h1 a {
    font-size: 1.5em;
    font-family: 'Walter Turncoat', cursive;
    margin-top: 8px;
    color: #fff;
}

.navbar-header small {
    font-family: 'Walter Turncoat', cursive;
}

a:hover {
    text-decoration: none;
}





.sourceLogo {
    height: 20px;
}

table tr td {
    font-size: 1.5em;
    line-height: 1.5em!important;
}


.techs {
    display: inline;
    font-size: 2em;
}

input[type="checkbox"] {
    margin: 20px;
}

.centered-column {
    text-align: center;
}

.top-bar .name h1 {
    font-size: 3.3em;
    font-family: 'Walter Turncoat', cursive;
    margin-top: 8px;
}

.top-bar {
    height: 65px;
}

h2 {
    #font-family: 'Special Elite', cursive;
#    font-family: 'Walter Turncoat', cursive;

}
