body {
    font-size: 18px;
    padding-top: 80px;
}


.navbar {
    background-color: #333333;
}

.navbar-header h1 {
    margin-top: 0px;
    
}

.navbar-header h1 a {
    font-size: 1.5em;
    font-family: 'Walter Turncoat', cursive;
    color: #fff;
}

.navbar-header h1 a:hover {
    color: #DBDBDB;
}

.navbar-header small {
    font-family: 'Walter Turncoat', cursive;
}

a:hover {
    text-decoration: none;
}


.btn-include {
  color: #000;
  background-color: #fff;
  border-color: #EAFF00;
}
.btn-include:hover,
.btn-include:focus,
.btn-include.focus,
.btn-include:active,
.btn-include.active,
.open > .dropdown-toggle.btn-include {
    color: #000;
    background-color: #EAFF00;
    border-color: #EAFF00;
}
.btn-include:active,
.btn-include.active {
    font-weight: bold;
}
.btn-include:active,
.btn-include.active,
.open > .dropdown-toggle.btn-include {
  background-image: none;
}


.btn-require {
  color: #000;
  background-color: #fff;
  border-color: #00DE07;
}
.btn-require:hover,
.btn-require:focus,
.btn-require.focus,
.btn-require:active,
.btn-require.active,
.open > .dropdown-toggle.btn-require {
    color: #000;
    background-color: #00DE07;
    border-color: #00DE07;
}
.btn-require:active,
.btn-require.active {
    font-weight: bold;
}
.btn-require:active,
.btn-require.active,
.open > .dropdown-toggle.btn-require {
  background-image: none;
}


.nopadding {
    padding: 0;
}


.sourceLogo {
    height: 20px;
    margin-left: 100px;
}
  
